---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FilteredPosts from '@/components/blog/FilteredPosts';
import ShowcaseList from '@/components/blog/ShowcaseList';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const pinnedPosts = posts.filter((post) => post.data.isPinned);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="font-roboto-mono bg-purple-200">
		<Header />
		<main class="mt-8 mb-12 mx-auto max-w-7xl">
			<section class="min-h-screen flex flex-col space-y-8 w-full">
				<div class="flex flex-col my-8 w-full">
					<div class="mt-4 mb-2 flex flex-col gap-3">
						<h2 class="text-5xl font-bold tracking-tight">📌 PINNED POSTS</h2>
						<div class="w-[50%] border-3 border-black bg-fuchsia-800 h-[10px]"></div>
					</div>
					<ShowcaseList client:load posts={pinnedPosts} isPaginated={false}/>
				</div>
				<div class="flex flex-col my-8 w-full">
					<section class="mb-12">
						<FilteredPosts client:load initialPosts={posts}/>
					</section>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
