---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { Picture } from 'astro:assets';
import home_img from "../assets/null_pt_hero.png"
import { Separator } from '@/components/ui/separator';
import { getCollection } from 'astro:content';
import ShowcaseList from '@/components/blog/ShowcaseList';

const posts = await getCollection('blog')
const latestPosts = posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="font-roboto-mono bg-purple-200">
		<Header />
		<main class="mt-8 mb-12 mx-auto max-w-7xl">
			<section class="md:min-h-[80vh] flex px-4 flex-col lg:flex-row mb-4 lg:mb-2 gap-8 md:gap-4 py-2 md:py-0 w-[90vw] mx-auto lg:w-full">
				<div class="pt-6 md:pt-12 md:flex-1">
					<h1 class="text-6xl text-wrap md:text-8xl tracking-tight font-extrabold">THOUGHTS</h1>
					<h1 class="text-6xl text-wrap md:text-8xl tracking-tight font-extrabold">FICTION</h1>
					<h1 class="text-6xl text-wrap md:text-8xl tracking-tight font-extrabold">STORIES</h1>
					<div class="mt-6 w-[100%] md:w-[80%]">
						<p class="text-md tracking-tight font-light leading-5">
							inspired by life ... and the world around me.
						</p>
					</div>
				</div>
				<div class="md:flex-1">
					<Picture src={home_img} formats={['png', 'avif', 'webp']} alt="home page banner image: a man writing on his typewriter"/>
				</div>
			</section>
			<div class="h-8 w-[95vw] mx-auto lg:w-full">
				<Separator/>
			</div>
			<section class="mb-12 w-[90vw] mx-auto lg:w-full">
				<div class="mt-4 mb-2 flex flex-col gap-1 md:gap-3">
					<h2 class="text-3xl md:text-5xl font-bold tracking-tight">🎯 LATEST POSTS</h2>
					<div class="w-[100%] lg:w-[50%] border-3 border-black bg-fuchsia-800 h-[10px]"></div>
				</div>
				<ShowcaseList client:load posts={latestPosts} isPaginated={false}/>
			</section>
			
		</main>
		<Footer />
	</body>
</html>
